.brand-cover{
    height: 140px;
    width: 160px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    margin: 0px auto;
}

.brand-image{
    object-fit: fill;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.brand-name-and-time{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-overflow: ellipsis; */
    /* overflow: hidden; */
    margin: 10px;
}

.brand-name{
    font-size: 20px;
    font-weight: 400;
}

.brand-time{
    font-size: 15px;
    font-weight: 200;
}